body {

    background-color: #121627;
}


.header-container {

    background-color: rgb(234, 0, 255);

    height: 50px;
    display: flex;
}

.preview-container {
    background-color: aqua;

    height: 100;
    width: 500px;
    
    position: absolute;
    right: 0;

    z-index: 1;
}


.flex-container {
    
    border-style: solid;
    border-color: #ff0000;


    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
}

.flex-item {


}

.item-image {

    width: 200px;
    height: 400px;

    border-style: solid;
    border-color: #ffffff;
    border-radius: 25px;
    border-width: 6px;
    
    object-fit: 100%;
    background-position: center;

    transform: skew(-5deg)
}

.item-image:hover::before {
    
}

.item-image:hover {
    cursor: pointer;

    transform: scale(1.2);
    transition: all 0.1s ease;

    box-shadow: 0 0 50px #ffffff;
}

.vincent {
    background-image: url(https://farm66.staticflickr.com/65535/52564941619_729404201d_b.jpg);
    
}

.genji {

    background-image: url(https://farm66.staticflickr.com/65535/52565152395_60bba9d16c_b.jpg);
}

.masa {

    background-image: url(https://farm66.staticflickr.com/65535/52566592130_ae234588f8_b.jpg);
}

.gwen {

    background-image: url(https://farm66.staticflickr.com/65535/52566607620_5c81267642_b.jpg);
    
    
}

.scratch {

    background-image: url(https://farm66.staticflickr.com/65535/52565677247_413ab3e2cd_b.jpg);
}

.olivia {

    background-image: url(https://farm66.staticflickr.com/65535/52565677412_f4b12de9b3_b.jpg);
}

.magnai {

    background-image: url(https://farm66.staticflickr.com/65535/52566592185_3ffedce81b_b.jpg);
}

.reiji {

    background-image: url(https://itoreiji.carrd.co/assets/images/image01.jpg?v=937c8df7);
}

.uganda {

    background-image: url(https://farm66.staticflickr.com/65535/52568080887_554397e5f0_b.jpg);
}

.evie {

    background-image: url(https://farm66.staticflickr.com/65535/52566608995_d601c26353_b.jpg);
}


