html {
    width: 100%;
}


@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('Caviar_Dreams_Bold-webfont.eot');
    src: url('Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {

  background-color: #121627;
  margin:0; 
  padding: 0;
    
}

.title {
  
  
    color: #ffffff;
    position: absolute;
    top: 10px;
    font-size: 50px;
    font-family: 'caviar_dreamsbold', Verdana, Arial, Helvetica, sans-serif;
    z-index: 1
      
      
  }
  
  .thinBar {
  
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 80%;
    position: absolute;
    top: 80px;
  
  }
  
  .welcome-message{
  
    color: #ffffff;
    position: absolute;
    top: 90px;
    font-size: 20px;
    font-family: 'caviar_dreamsbold', Verdana, Arial, Helvetica, sans-serif;
  
  
  }

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 354px;
}

.wave {
    fill: #7b66f585;
}

.header-container {

  position: relative;
  height: 150px;
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
    
    
}

/* The X button in the bios */

.navbar {

    height: 40px;
    width: 100%;
}

.btn-close {

    color: #ffffff;
    background-color: transparent;
    border: 0;
    border-radius: 40%;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 40px;
    z-index: 2;
    cursor: pointer;
  
}
    

/* The bios you see when you click on */


.bio {

    background-color: #05070c;
    position: fixed;
    top: 0;
    right: -60vw;
    height: 100vw;
    width: 30vw;
    padding: 32px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
    z-index: 3;   
    transition:  right 0.2s ease-in-out
    
    
}


.bio--open{

    right: 0;
    
}


.character-name{

  color: #ffffff;
  font-size: 50px;
  font-family: 'caviar_dreamsbold', Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

.biotext {

    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    text-align: justify;
  text-justify: inter-word;
  width: 100%;
  padding: 20px;
}

.bioimage{

  display: flex;
  justify-content: center;
  height: 400px;
  width: 600px;
  overflow: hidden;
  

}

  /*  The cards and portraits */

.portrait-container  {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-gap: 10px; 
    justify-content: center;
    grid-gap: 4em;
}

.portrait-image {
    width: 200px;
    height: 400px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 25px;
    border-width: 3px;
    object-fit: 100%;
    background-position: center;
    transform: skew(-5deg);
    margin: 0px;
    position: relative;
    z-index: 1;
}

.portrait-image:hover {
    cursor: pointer;
    transform: scale(1.2) skew(-5deg) translateY(-40px);
    transition: all 0.1s ease;
    z-index: 2; 
    box-shadow: 0 0 50px #ffffff;
}

.portrait-image:hover ~ .portrait-image {
    z-index: 1;
}

/* Card images */

.vincent {
    background-image: url(https://i.postimg.cc/rp4V48st/Portrait.png);   
}

.genji {

    background-image: url(https://i.postimg.cc/d3PwtGnk/Portrait.png;)
}

.masa {

    background-image: url(https://i.postimg.cc/CxmD2ss4/Portrait.png);
}

.gwen {

    background-image: url(https://i.postimg.cc/DZT0ZVxP/52583695357-00495ca475-b.jpg);
    
    
}

.scratch {

    background-image: url(https://i.postimg.cc/5yTvt7T5/Portrait.png);
}

.olivia {

    background-image: url(https://i.postimg.cc/kXwBMXRJ/Portrait.png);
}

.magnai {

    background-image: url(https://i.postimg.cc/pVkr26zK/image05.jpg);
}

.reiji {

    background-image: url(https://i.postimg.cc/MHspdnq9/image01.jpg);
}

.uganda {

    background-image: url(https://i.postimg.cc/MKFGBfsT/image02.jpg);
}

.evie {

    background-image: url(https://i.postimg.cc/J49TtPWz/Untitled-1.png);
}

/* for tablets */



@media (max-width: 810px) {

    html {
        width: 100%;
    }

     .navbar {
      
        height: 40px;
        width: 100%;
    }
    
    .btn-close {
      
        color: #ffffff;
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 40px;
        z-index: 2;
        cursor: pointer;
        
    }

    .bio {
        position: fixed;
        top: auto;
        bottom: -100vh; 
        right: 0;
        height: 60vh;
        width: 100vw;
        transition: bottom 0.2s ease-in-out;
        overflow-wrap: break-word;
        z-index: 3; 
    }   

    .bioimage{

        display: flex;
        justify-content: center;
        height: 31%;
        width: 115%;
        overflow: visible;
          
    }
    
    .bio--open {
        bottom: 0;
    }

    .character-name {
        font-size: 30px;
        padding-left: 70px;  
    }
    
    .biotext {
        font-size: 12px;
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        padding-left: 60px;  
            
    }
        
        /* for smartphones */

    @media (max-width: 428px) {

        .portrait-container {
            grid-template-columns: repeat(2, 150px);
            grid-gap: 20px; 
                
        }
        
        .portrait-image {
            width: 150px;
            height: 300px;
        }   
    }
}